################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Visual Studio 2022/Visualizers
/.vs/TestePratico/FileContentIndex
